<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="ningenme.net.api.infrastructure.mysql.mapper.AtcoderUserHistoryMysqlMapper">
    <insert id="put">
        INSERT IGNORE INTO atcoder_user_histories
        (atcoder_id, contest_id, is_rated, place, old_rating, new_rating, performance) VALUES
        (#{atcoderId}, #{contestId}, #{isRated}, #{place}, #{oldRating}, #{newRating}, #{performance});
    </insert>
</mapper>