<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="ningenme.net.api.infrastructure.mysql.mapper.ComproCategoryTaskMapper">
    <resultMap id="ComproCategoryTaskDto" type="ningenme.net.api.infrastructure.mysql.dto.ComproCategoryTaskDto">
        <id property="taskId"      column="task_id"/>
        <id property="taskName"    column="task_name"/>
        <id property="url"         column="url"/>
        <id property="score"       column="score"/>
        <id property="estimation"  column="estimation"/>
        <id property="site"        column="site"/>
        <id property="topicIds"    column="topic_ids"/>
        <id property="createdTime" column="created_time"/>
        <id property="updatedTime" column="updated_time"/>
        <id property="deletedTime" column="deleted_time"/>
    </resultMap>
    <resultMap id="CountDto" type="ningenme.net.api.infrastructure.mysql.dto.CountDto">
        <id property="count"      column="count"/>
    </resultMap>
    <select id="selectList" resultMap="ComproCategoryTaskDto" parameterType="Integer">
        SELECT * FROM compro_category_tasks WHERE deleted_time IS NULL ORDER BY created_time DESC limit 100 offset #{offset}
    </select>
    <select id="selectOne" resultMap="ComproCategoryTaskDto" parameterType="String">
        SELECT * FROM compro_category_tasks WHERE task_id = #{taskId} AND deleted_time IS NULL
    </select>
    <select id="selectListWithTopicId" resultMap="ComproCategoryTaskDto" parameterType="String">
        SELECT tasks.task_id as task_id, task_name, url, score, estimation, site, topic_ids, created_time, updated_time, deleted_time
        FROM compro_category_topics_tasks AS tags JOIN compro_category_tasks AS tasks ON tags.task_id=tasks.task_id AND tags.topic_id = #{topicId} WHERE deleted_time IS NULL;
    </select>
    <select id="selectCount" resultMap="CountDto">
        SELECT count(*) as count FROM compro_category_tasks WHERE deleted_time IS NULL
    </select>
    <select id="selectCountByUrl" resultMap="CountDto">
        SELECT count(*) as count FROM compro_category_tasks WHERE url = #{url} AND deleted_time IS NULL
    </select>
    <insert id="insert">
        INSERT INTO compro_category_tasks
        (task_id, task_name, url, score, estimation, topic_ids) VALUES
        (#{taskId}, #{taskName},#{url},#{score},#{estimation},#{topicIds})
    </insert>
    <update id="update">
        UPDATE compro_category_tasks SET
        task_name = #{taskName},
        url = #{url},
        score = #{score},
        estimation = #{estimation},
        topic_ids = #{topicIds}
        WHERE task_id = #{taskId}
    </update>
</mapper>