<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="ningenme.net.api.repository.mysql.mapper.ComproCategoryTopicMapper">
    <resultMap id="ComproCategoryTopicDto" type="ningenme.net.api.repository.dto.ComproCategoryTopicDto">
        <id property="topicId"      column="topic_id"/>
        <id property="genreId"      column="genre_id"/>
        <id property="topicName"    column="topic_name"/>
        <id property="topicOrder"   column="topic_order"/>
    </resultMap>
    <select id="select" resultMap="ComproCategoryTopicDto" parameterType="Integer">
        SELECT * FROM compro_category_topics
        <where>
            <if test="topicId != null">
                AND topic_id = #{topicId}
            </if>
            <if test="true">
                AND deleted_time IS NULL
            </if>
        </where>
        ORDER BY created_time DESC
    </select>
</mapper>